.header {
  top: 0;
  left: 0;
  display: flex;
  position: sticky;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 4px; */
  /* padding: 0 0 0 0; */
  /* padding-left: 8px; */
  /* padding-right: 8px; */
  /* padding: 8px; */
  /* padding-left: 8px;
  padding-top: 8px; */
  /* border-radius: 5px; */
  /* padding-right: 8px; */
  /* background-color: aliceblue; */
  /* box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); */
}
