@layer rdg.Cell {
  .cj343x07-0-0-beta-41 {
    white-space: pre-line;
  }
}

@layer rdg.Row {
  .r1upfr807-0-0-beta-41 {
    line-height: 1.5;
    font-size: 12px;
  }
}

@layer rdg.HeaderRow {
  .h10tskcx7-0-0-beta-41 {
    line-height: 1.5;
    font-size: 13px;
  }
}

@layer Root {
  .rnvodz57-0-0-beta-41 {
    --block-size: 420px;
    block-size: var(--block-size);
  }
}
