.receiver {
  display: flex;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
  /* padding-left: 8px; */
  /* padding-right: 32px; */
}

.text {
  font-size: 14px;
  /* width: 120px; */
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
