.receiver {
  display: flex;
  align-items: center;
  padding: 4px 8px 4px 8px;
  border-radius: 5px;
  transition: background-color var(--trans-hv);
  cursor: pointer;
}
.receiver:hover {
  background-color: whitesmoke;
}

.text {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
