.list {
  position: absolute;
  right: 0;
  top: 40px;
  padding: 4px 8px 4px 8px;
  /* min-width: 120px; */
  max-height: 320px;
  background-color: white;
  border: solid 1px;
  border-radius: 5px;
  /* opacity: 1; */
  /* border-width: 5px; */
  /* border: 5px; */
  /* border-color: blue; */
}
